.success,
.error,
.default{
    margin: 5px 0 15px 0;
    padding: 8px 20px;
    color: white;
    border-radius: 3px;
    font-weight: 600;
    text-align: center;
}

.success{
    background-color: green;
}
.error{
    background-color: red;
}
.default{
    background-color: grey;
}

.alert{
    position: absolute;
    right: 0;
    top: 5px;
    width: 200px;
}

#book-list a{
    text-transform: lowercase;
    text-decoration: none;
    font-weight: 600;
    color: red;
}